@charset "utf-8";
* {
	margin: 0;
	padding: 0;
}

body {
	background: #FFFFFF;
}

.t1{
	width: 100%;
	height: 1120px;
	background: #f5f5f5;
}


.t3 {
	width: 980px;
	height: 1015px;
	top: 0;
	text-align: center;
	margin: 0 auto;
	position: relative;
	border: 1px solid #D8D8D8;
	border-top: none;
	border-bottom: none;
	background: #FFFFFF;
}

.t4 {
	width: 933px;
	height: 194px;
	background: #FFFFFF;
	left: 25px;
	margin: 0 auto;
	position: absolute;
	top: 30px;
}

.t4 li {
	float: left;
	list-style: none;
	width: 230px;
	height: 100px;
	transition: all 1s;
}

.t4 img {
	width: 55px;
	height: 55px;
}

.t4 li:hover {
	transform: rotate(20deg) scale(1.2);
}

.t5 a:hover {
	text-decoration: underline;
}



.t5 {
	width: 426px;
	height: 740px;
	position: absolute;
	top: 230px;
	left: 28px;
}

.t51 a {
	text-align: left;
	font-size: 23px;
	position: absolute;
	left: 0;
	text-decoration: none;
	color: #333333;
	font-weight: 700;
}

.t52 a {
	text-align: right;
	position: absolute;
	right: 0;
	font-size: 12px;
	text-decoration: none;
	color: #333333;
	top: 9px;
}

.t5 .t53 {
	width: 426px;
	height: 700px;
	position: absolute;
	top: 35px;
	left: 0;
	border: 2px solid darkred;
	border-bottom: 1px solid #d8d8d8;
	border-left: 1px solid #d8d8d8;
	border-right: 1px solid #d8d8d8;
}

.t5 .t53 img:hover {
	transform: scale(1.1);
}

.t5 .t53 .t531 a {
	font-size: 20px;
	float: left;
	left: 140px;
	top: 30px;
	position: absolute;
	color: #000000;
}

.t5 .t53 .t531 span {
	font-size: 13px;
	position: absolute;
	left: 140px;
	top: 80px;
}

.t5 .t53 .t531 img {
	left: 0;
	position: absolute;
	top: 10px;
	width: 120px;
	height: 120px;
}

.t5 .t53 .t532 a {
	font-size: 20px;
	float: left;
	left: 140px;
	top: 200px;
	position: absolute;
	color: #000000;
}

.t5 .t53 .t532 span {
	font-size: 13px;
	position: absolute;
	left: 140px;
	top: 250px;
}

.t5 .t53 .t532 img {
	left: 0;
	position: absolute;
	top: 180px;
	width: 120px;
	height: 120px;
}

.t5 .t53 .t533 a {
	font-size: 20px;
	float: left;
	left: 140px;
	top: 370px;
	position: absolute;
	color: #000000;
}

.t5 .t53 .t533 span {
	font-size: 13px;
	position: absolute;
	left: 140px;
	top: 420px;
}

.t5 .t53 .t533 img {
	left: 0;
	position: absolute;
	top: 350px;
	width: 120px;
	height: 120px;
}

.t5 .t53 .t534 a {
	font-size: 20px;
	float: left;
	left: 140px;
	top: 540px;
	position: absolute;
	color: #000000;
}

.t5 .t53 .t534 span {
	font-size: 13px;
	position: absolute;
	left: 140px;
	top: 590px;
}

.t5 .t53 .t534 img {
	left: 0;
	position: absolute;
	top: 520px;
	width: 120px;
	height: 120px;
}

.t6 {
	width: 426px;
	height: 740px;
	background: #FFFFFF;
	position: absolute;
	right: 28px;
	top: 230px;
}

.t6 a:hover {
	text-decoration: underline;
}



.t61 a {
	text-align: left;
	font-size: 23px;
	position: absolute;
	left: 0;
	text-decoration: none;
	color: #333333;
	font-weight: 700;
}

.t62 a {
	text-align: right;
	position: absolute;
	right: 0;
	font-size: 12px;
	text-decoration: none;
	color: black;
	top: 9px;
}

.t6 .t63 {
	width: 426px;
	height: 700px;
	position: absolute;
	top: 35px;
	right: 0;
	border: 2px solid darkred;
	border-bottom: 1px solid #d8d8d8;
	border-left: 1px solid #d8d8d8;
	border-right: 1px solid #d8d8d8;
}

.t6 .t631 {
	width: 100%x;
	height: 70px;
}

.t6 .t632 {
	width: 100%x;
	height: 70px;
}

.t6 .t633 {
	width: 100%x;
	height: 70px;
}

.t6 .t634 {
	width: 100%x;
	height: 70px;
}

.t6 .t635 {
	width: 100%x;
	height: 70px;
}

.t6 .t636 {
	width: 100%x;
	height: 70px;
}

.t6 .t637 {
	width: 100%x;
	height: 70px;
}

.t6 .t631 .line_2 img {
	top: 10px;
}

.t6 .t632 .line_1 {
	top: 70px;
}

.t6 .t632 .line_2 img {
	top: 80px;
}

.t6 .t632 .line_3 {
	top: 70px;
}

.t6 .t633 .line_1 {
	top: 140px;
}

.t6 .t633 .line_2 img {
	top: 150px;
}

.t6 .t633 .line_3 {
	top: 140px;
}

.t6 .t634 .line_1 {
	top: 210px;
}

.t6 .t634 .line_2 img {
	top: 220px;
}

.t6 .t634 .line_3 {
	top: 210px;
}

.t6 .t635 .line_1 {
	top: 280px;
}

.t6 .t635 .line_2 img {
	top: 220px;
}

.t6 .t635 .line_3 {
	top: 210px;
}

.t6 .t636 .line_1 {
	top: 350px;
}

.t6 .t636 .line_2 img {
	top: 280px;
}

.t6 .t636 .line_3 {
	top: 270px;
}

.t6 .t637 .line_1 {
	top: 420px;
}

.t6 .t637 .line_2 img {
	top: 350px;
}

.t6 .t637 .line_3 {
	top: 340px;
}

.t6 .t638 .line_1 {
	top: 490px;
}

.t6 .t638 .line_2 img {
	top: 420px;
}

.t6 .t638 .line_3 {
	top: 410px;
}

.t6 .t639 .line_1 {
	top: 560px;
}

.t6 .t639 .line_2 img {
	top: 490px;
}

.t6 .t639 .line_3 {
	top: 480px;
}

.t6 .t63a .line_1 {
	top: 630px;
}

.t6 .t63a .line_2 img {
	top: 560px;
}

.t6 .t63a .line_3 {
	top: 550px;
}



.t6 .line_1 {
	float: left;
	height: 70px;
	width: 30px;
	position: absolute;
}

.t6 .line_1 span {
	position: absolute;
	color: darkred;
	font-weight: 800;
	left: 15px;
	line-height: 70px;
}

.t6 .line_2 {
	height: 70px;
	width: 70px;
	position: absolute;
	left: 30px;
}

.t6 .line_3 span {
	color: gray;
	top: 40px;
	position: absolute;
	left: 0;
}

.t6 .line_3 a {
	position: absolute;
	top: 10px;
	color: #4F4F4F;
	font-size: 15px;
	left: 0;
}

.t6 .line_2 img {
	position: absolute;
	width: 50px;
	height: 50px;
	left: 10px;
}

.t6 .line_3 {
	position: absolute;
	left: 70px;
	width: 326px;
	height: 70px;
}