@charset "utf-8";
*{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
body{
	font-size: 12px;
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
}
a{
	text-decoration: none;
}
.topbar{
	width: 100%;
	height: 105px;
}
.topbar .my_top1{
	width: 100%;
	height: 69px;
	background: #242424;
	border-bottom: 1px solid #000000;
}
.topbar .my_top1 .topwraper{
	width: 1100px;
	height: 70px;
	margin: 0 auto;
	position: relative;
}
.topbar .my_top1 .topwraper .logo{
	float: left;
    width: 176px;
    height: 69px;
	font-size: 23px;
	line-height: 69px;
	letter-spacing: 2px;
}
.topbar .my_top1 .topwraper .logo a{
	display: block;
	width: 100%;
	height: 100%;
	color: azure;
}
.topbar .my_top1 .topwraper .logo img{
	width: 40px;
	height: 40px;	
	vertical-align: -13px;
	margin-right: 4px;
}

.topbar .my_top1 .topwraper .m-nav{
	width: 508px;
	height: 70px;
	float: left;
}
.topbar .my_top1 .topwraper .m-nav li{
	float: left;
    height: 70px;
    font-size: 14px;
	line-height: 70px;
	padding: 0 19px;
	color: #E5E5E5;
	cursor: pointer;
}
.topbar .my_top1 .topwraper .m-nav .fst{
	background: #000000;

}

.topbar .my_top1 .topwraper .m-nav li:hover{
	color: azure;
	background: #000000;
}

.topbar .my_top1 .topwraper .topcount{
	float: right;
	width: 62px;
	height: 45px;
	margin-top: 19px;
	margin-left: 20px;
}
.topbar .my_top1 .topwraper .topcount .countpic{
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
.topbar .my_top1 .topwraper .topcount .xiala{
	width: 18px;
	height: 18px;
	opacity: 0.5;
	margin-left: 8px;
}
.topbar .my_top1 .topwraper .topcount .countlist{
	position: absolute;
	top: 48px;
	right: -43px;
	width: 158px;
	background: #2b2b2b;
	color: azure;
	box-shadow: 0 8px 24px 0 rgba(0,0,0,0.50);
	border-radius: 4px;
	z-index: 99;
	display: none;
}
.topbar .my_top1 .topwraper .topcount:hover .countlist{
	display: block;
}
.topbar .my_top1 .topwraper .topcount .countlist li{
	width: 100%;
	text-align: center;
	height: 30px;
	line-height: 30px;
}
.topbar .my_top1 .topwraper .topcount .countlist li:hover{
	background: #8B8B83;
	cursor: pointer;
}
.topbar .my_top1 .topwraper .czz{
	float: right;
    width: 90px;
    height: 32px;
    margin: 19px 0 0 12px;
    box-sizing: border-box;
    padding-left: 16px;
    border: 1px solid #4F4F4F;
    background-position: 0 -140px;
    line-height: 33px;
    color: #ccc;
    border-radius: 20px;
}
.topbar .my_top1 .topwraper .m-search{
	float: right;
    width: 158px;
    height: 32px;
}
.topbar .my_top1 .topwraper .m-search .srch{
	margin-top: 19px;
    background-color: #fff;
    border-radius: 32px;
	position: relative;
}
.topbar .my_top1 .topwraper .m-search .srch img{
	position: absolute;
	top: 4px;
	left: 0px;
	width: 30px;
	border-radius: 30px;
	z-index: 10;
}
.topbar .my_top1 .topwraper .m-search .srch input{
	width: 108px;
	height: 34px;
	color: #333;
    line-height: 32px;
	font-size: 12px;
	padding-left: 30px;
	border-radius: 32px;
	position: absolute;
	top: 0px;
	left: 0px;
}


.topbar .my_top2{
	width: 100%;
	height: 35px;
	background-color: #C20C0C;
	border-bottom: 1px solid #a40011;
}
.topbar .my_top2 .topwraper2{
	width: 100%;
	height: 34px;
	position: relative;
}
.topbar .my_top2 .topwraper2 .wraper{
	width: 1100px;
    height: 34px;
	margin: 0 auto;
}
.topbar .my_top2 .topwraper2 .wraper .nav{
	height: 34px;
	padding-left: 180px;
}
.topbar .my_top2 .topwraper2 .wraper .nav li{
    float: left;
    height: 34px;
	line-height: 34px;
    text-align: center;
}
.topbar .my_top2 .topwraper2 .wraper .nav li a{
	font-size: 14px;
	color: #FFD700;
}
.topbar .my_top2 .topwraper2 .wraper .nav li a em{
	display: inline-block;
	font-style:normal;
    height: 20px;
    padding: 0 13px;
    margin: 7px 17px 0;
    border-radius: 20px;
    line-height: 21px;
}
.topbar .my_top2 .topwraper2 .nav li:hover a em{
	background: #9B0909;
	color: #FFD700;
}

